{% extends "Base.html" %}
{% block title %}MY APP{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<div class="right">
<img src="static/uploads/Icon.png" style="width: 200px; height: auto;" alt="Symbol">
</div>
<div class="right">
<p>
<p>
	Welcome Doctor! <br>
    Navigate to New Scans tab in navigation bar <br>
    if you would like to upload new Mammograms. <br>
    Navigate to the Patients tab to view old scans.
<p>
</p>
</div>

{% endblock %}