{% extends "Base.html" %}
{% block title %}MY APP{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<div class="left">
<img src="static/uploads/Icon.png" style="width: 600px; height: auto; left: 100px" alt="Symbol">
</div>
<div class="center">
<p align="right">

	Right align content
</p>
</div>

{% endblock %}